calculate_rep_sea.sh
calculate_rep_sea.py
calculate_rep_spacegm.py
eval_braak.sh
calculate_rep_spacegm.sh
eval_cell_clustering_baseline.sh
eval_cell_clustering.sh
eval_cli.txt
graphMAE.py
main.sh
GWT.py
representation_quality.sh
logs/
data/
saved_models/
calculate_rep_spacegm_2.sh
baseline_melanoma.py
calculate_rep_melanoma.py
eval_mlp_charville.py
eval_melanoma.sh
eval_space_gm.sh
graphmae.sh
main_ddp.sh
calculate_rep_merfish_lung.py
calculate_rep_spacegm.py
playground.ipynb
main_ddp_modular.py